*{
    margin: 10px;
    padding: 10px;
    // background-color: black;
    
}
.wh{
    display: flex;
    flex-direction: row;
    // background-color: rgb(68, 18, 112);
    .fr{
        width: 70% !important;
        // color: beige;
    }
    // .table{ 
    //     width: 50%;
    // }
}